@page "/"

<PageTitle>Index</PageTitle>

<PersonalDetails />

<div class="personal-section d-flex flex-column flex-md-row justify-content-between p-4 " >
    <div class="skill-section d-flex flex-column " > 
       @* <img class="cool-animation" src="./images/html5.svg" alt="html5" height="100" width="100" />
        <img src="./images/html5.svg" alt="html5" height="100" width="100" />
        <img src="./images/html5.svg" alt="html5" height="100" width="100" />
        <img src="./images/html5.svg" alt="html5" height="100" width="100" />
        <img src="./images/html5.svg" alt="html5" height="100" width="100" />*@
    </div>
    <div class="face-img " >
        <div class="outer p-2 p-md-4 bg-danger mx-auto " >
            <div class="inner bg-warning mx-auto " >
                <img src="./karan.png" alt="karan" class="h-100 w-100" />
            </div>
        </div>
    </div>
        
    
    <div class="skill-section d-flex flex-column ">
       @* <img src="./images/html5.svg" alt="html5" height="100" width="100" />
        <img src="./images/html5.svg" alt="html5" height="100" width="100" />
        <img src="./images/html5.svg" alt="html5" height="100" width="100" />
        <img src="./images/html5.svg" alt="html5" height="100" width="100" />
        <img src="./images/html5.svg" alt="html5" height="100" width="100" />*@
    </div>
</div>

