

.header {
    padding-left: 10rem;
    padding-right: 10rem;
    height : 5rem;
}





@media screen and (max-width: 991px) {
    /* CSS styles for screens below 768px */

    .header {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}


@media screen and (max-width: 767px) {
    /* CSS styles for screens below 768px */

    .header {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}