<ul class="nav-left list d-none justify-content-between gap-5 d-md-flex">
    <li class=" d-flex align-items-center">

        <a class="text-black fw-bold text-decoration-none d-flex align-items-center justify-content-center " href="/projects">
            <img class="me-2" src="./project.png" alt="project" height="25" width="25" />
            <span class="my-auto lh-1  ">Project</span>
        </a>
    </li>
    <li class=" d-flex align-items-center">

        <a class="text-black fw-bold text-decoration-none d-flex align-items-center justify-content-center " href="/resume">
            <img class="me-2" src="./cv.png" alt="resume" height="25" width="25" />
            <span class="my-auto lh-1  ">Resume</span>
        </a>
    </li>
   

</ul>

@code {

}
