<ul class="nav-left list d-none justify-content-between gap-5  d-md-flex ">
    <li class=" d-flex align-items-center ">

        <a class="text-black  fw-bold text-decoration-none d-flex align-items-center justify-content-center " href="https://github.com/imkaransandhu">
            <img class="me-2" src="./github.svg" alt="github" height="25" width="25" />
            <span class="my-auto lh-1  ">Github</span>
        </a>
    </li>
    <li class=" d-flex align-items-center ">

        <a class="text-black fw-bold text-decoration-none d-flex align-items-center justify-content-center " href="https://www.linkedin.com/in/imkaransingh/">
            <img class="me-2" src="./linkedin.svg" alt="linkedin" height="25" width="25" />
            <span class="my-auto lh-1  ">LinkedIn</span>
        </a>
    </li>
</ul>

@code {

}
