<div class="personal-details text-center py-3 ">
    <h2> I'm Karan Singh </h2>
    <h1 > A Creative  </h1>
    <h1><span class="text-primary fw-bolder  "> Software Dev.... </span></h1>
    <h3> Based in Auckland, NZ </h3>
</div>

@code {

}
